@import "../omarchy/current/theme/waybar.css";

@define-color background #11221C;
@define-color background rgba(0, 0, 0, 0.4);

window#waybar {
  background-color: @background;
}
* {
  background-color: transparent;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: CaskaydiaMono Nerd Font;
  font-size: 13px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 20px;
  opacity: 0.5;
}

#workspaces button.visible {
  opacity: 1;
}

#tray,
#cpu,
#battery,
#network,
#bluetooth,
#pulseaudio,
#clock,
#custom-clipboard,
#custom-tasks,
#custom-notification {
  min-width: 18px;
  margin: 0 8px;
}

#custom-expand-icon {
  margin-right: 7px;
}

#tray * {
  margin: 0 5px;
}

tooltip {
  padding: 2px;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: 1px solid #444;
}
