layout {

    focus-ring {
        active-color   "#54dbc8"
        inactive-color "#0b151a"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#54dbc8"
        inactive-color "#0b151a"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#54dbc8"
        inactive-color "#005047"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#54dbc880"
    }
}

recent-windows {
    highlight {
        active-color "#54dbc8"
        urgent-color "#ffb4ab"
    }
}
